<div class=" footer my-5">

    <footer class="text-white text-center text-lg-start bg-dark">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About company</h5>
  
            <p>
                Introducing A-Zee, an exceptional online platform that brings together convenience and quality for an unparalleled shopping experience. 
                
            </p>
  
            <div class=" slmedia mt-4 ">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-light btn-lg m-2"><i class='bx bxl-facebook'></i></a>
              <!-- Dribbble -->
              <a type="button" class="btn btn-floating btn-light btn-lg m-2"><i class='bx bxl-instagram' ></i></a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-light btn-lg m-2"><i class='bx bxl-twitter' ></i></a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-light btn-lg m-2"><i class='bx bxl-google-plus'></i></a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0 ">
  
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class='bx bx-home-heart'></i></span><span class="ms-2">Mogappair,Chennai</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class='bx bxl-chrome' ></i></span><span class="ms-2">contact@example.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class='bx bx-phone'></i></span><span class="ms-2">+ 48 234 567 88</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
         
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">c2e.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  
  </div>